.u-section-1 .u-sheet-1 {
  min-height: 510px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: -246px auto 0 -591px;
}

.u-section-1 .u-text-2 {
  margin: -89px auto 0 -506px;
}

.u-section-1 .u-text-3 {
  margin: -89px auto 0 -534px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 250px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 39px;
  margin-bottom: 38px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 362px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 250px;
  height: 250px;
  margin: 25px auto 0 13px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 362px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-block-1219-59 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 1px 0 0 auto;
  padding: 10px 348px 11px 347px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 49px;
  }

  .u-section-1 .u-group-1 {
    width: 203px;
    height: 203px;
    margin-top: 82px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 61px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    padding-right: 272px;
    padding-left: 272px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 157px;
    height: 157px;
    margin-top: 92px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
    margin-top: 50px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 190px;
    padding-left: 189px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 234px;
  }

  .u-section-1 .u-group-1 {
    width: 226px;
    height: 226px;
    margin-top: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 84px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    padding-right: 91px;
    padding-bottom: 12px;
    padding-left: 89px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 487px;
}

.u-section-2 .u-tabs-1 {
  min-height: 375px;
  height: auto;
  margin: 0;
}

.u-section-2 .u-tab-list-1 {
  background-image: none;
}

.u-section-2 .u-tab-link-1 {
  background-image: none;
}

.u-section-2 .u-tab-link-2 {
  background-image: none;
}

.u-section-2 .u-tab-link-3 {
  background-image: none;
}

.u-section-2 .u-tab-link-4 {
  background-image: none;
}

.u-section-2 .u-tab-link-5 {
  background-image: none;
}

.u-section-2 .u-tab-link-6 {
  background-image: none;
}

.u-section-2 .u-tab-link-7 {
  background-image: none;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 269px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: -12px 0 0 auto;
  padding: 9px 44px 10px 42px;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-group-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 269px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  margin: -12px 0 0 auto;
  padding: 9px 44px 10px 42px;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-group-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 269px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  margin: -12px 0 0 auto;
  padding: 9px 44px 10px 42px;
}

.u-section-2 .u-tab-pane-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-group-4 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 269px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  margin: -12px 0 0 auto;
  padding: 9px 44px 10px 42px;
}

.u-section-2 .u-tab-pane-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-group-5 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 269px;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  margin: -12px 0 0 auto;
  padding: 9px 44px 10px 42px;
}

.u-section-2 .u-tab-pane-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-group-6 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 269px;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-text-11 {
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  margin: -12px 0 0 auto;
  padding: 9px 44px 10px 42px;
}

.u-section-2 .u-tab-pane-7 {
  background-image: none;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px;
}

.u-section-2 .u-group-7 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 269px;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px;
}

.u-section-2 .u-text-13 {
  margin: 0 auto;
}

.u-section-2 .u-text-14 {
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  margin: -12px 0 0 auto;
  padding: 9px 44px 10px 42px;
}

.u-section-2 .u-btn-8 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 39px 0;
  padding: 14px 460px 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-8 {
    padding-right: 376px;
    padding-left: 376px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-8 {
    margin-right: 0;
    padding-right: 267px;
    padding-left: 266px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-2 .u-btn-8 {
    padding-right: 161px;
    padding-left: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-2 .u-tabs-1 {
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-8 {
    padding-right: 61px;
    padding-bottom: 16px;
    padding-left: 60px;
  }
}