.u-section-1 .u-sheet-1 {
  min-height: 604px;
}

.u-section-1 .u-form-1 {
  height: 419px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
}

.u-section-1 .u-input-2 {
  font-size: 1.125rem;
}

.u-section-1 .u-input-3 {
  font-size: 1.125rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 9px 114px 10px 113px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 10px 62px 11px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 18px auto 46px;
  padding: 10px 122px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 59px;
    padding-left: 58px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 22px;
    margin-bottom: 60px;
    padding: 11px 120px 11px 119px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 49px;
    padding-right: 54px;
    padding-bottom: 12px;
    padding-left: 54px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -104px;
    padding: 10px 115px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-2 {
    padding-right: 173px;
    padding-left: 171px;
  }

  .u-section-1 .u-btn-3 {
    padding-left: 232px;
    padding-right: 232px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-2 {
    margin-top: 40px;
    padding-right: 72px;
    padding-left: 70px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -98px;
    padding-right: 132px;
    padding-left: 131px;
  }
}